:root {
  --box-shadow-color: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.overview {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #071021;
}
.sidebar p {
  color: white;
}

.sidebar_header {
  padding-top: 20px;
  text-align: center;
  font-size: larger;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  align-items: flex-start;
  gap: 10px;
}

.btn-nav {
  background-color: #071021;
  color: white;
  border: none;
  font-size: large;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}
.btn-nav:hover,
.btn-nav:active {
  background-color: #1c283d;
}

.sidebar_icon {
  margin-right: 5px;
}

/* Button Component CSS */
.btn-component {
  border: none;
  background-color: #3a42cd;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
  margin: 5px;
}

/* Input Component CSS */

.input_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}

.input_label {
  font-size: larger;
}
.input_box {
  padding: 5px;
  border-radius: 5px white;
}
input:focus {
  border-color: #1c283d;
}

/* Table Card Component CSS */
.table_card {
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin: 5px;
  box-shadow: var(--box-shadow-color);
}
.table_content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
}
.table_content p {
  width: 6rem;
  text-align: center;
}

/* Settings page Component CSS */
.add_org_button {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}
.table_card_heading {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 55px;
  justify-content: space-around;
}

/* Settings component CSS */
.settings {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 60%;
  gap: 10px;
}
.saved_settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.settings_saved_info {
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

/*Overview section CSS */

.overview_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.overview_section_1,
.overview_section_2 {
  box-shadow: var(--box-shadow-color);
  height: 200px;
  width: 400px;
  padding: 15px;
}
.overview_metrics {
  margin: 10px;
  width: 96%;
  height: 100px;
  box-shadow: var(--box-shadow-color);
  padding: 25px;
}
.metrics_number {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: inherit;
}
.metrics_title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.overview_metrics_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 20px;
}

/* issues section CSS */
.add_repo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}
.add_repo_btn {
  margin-top: 20px;
}
