.overview {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 30px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #071021 ;
}
.sidebar p {
  color: white;
}

.sidebar_header {
  padding-top: 20px;
  text-align: center;
  font-size: larger;
}

.sidebar_nav {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20px;
  align-items: flex-start;
  gap: 10px;
}

.btn-nav {
  background-color: #071021;
  color: white;
  border: none;
  font-size: large;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  text-align: left;
  display: flex; 
  align-items: center; 
}
.btn-nav:hover, .btn-nav:active {
  background-color: #1c283d;

}

.sidebar_icon {
  margin-right: 5px;
}

/* Button Component CSS */
.btn-component {
  border: none;
  background-color:#3A42CD ;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  font-size: large;
}

/* Input Component CSS */

.input_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_label {
  font-size: larger;
}
.input_box {
  padding: 5px;
  border-radius: 5px white;
}
input:focus {
  border-color: #1c283d;
}

/* Table Card Component CSS */
.table_card {
  background-color: white;
  border-radius: 5px;
  padding: 16px;
  margin: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.table_content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-around;
}

/* Settings page Component CSS */
.add_org_button {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
}
.table_card_heading {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 55px;
  justify-content: space-around;
}


/* Profile component CSS */
.profile {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 60%;
  gap: 10px;
}




